{% extends 'layout.html' %}
{% block content %}
  <style>
    body {
      background: url("https://blog.trainman.in/static/blog/images/train-catch-low-res.gif") no-repeat center center / cover;
    }
  </style>
  <div class="container-content bg-white bg-opacity-75 mx-auto">
    <h2 class="text-center mb-4">Book Express Ticket</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100 mt-3">Book Ticket</button>
    </form>
  </div>
{% endblock %}
